#################################################################################
# Pipeline to build docker images
#################################################################################
name: Docker Image
env:
  RUST_BACKTRACE: "1"
  CARGO_TERM_COLOR: always
permissions:
  contents: read
  security-events: write
on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
        description: "Type of version to build: commit, pr, release, rc"
      architecture:
        required: false
        type: string
        default: "x86_64-linux"
        description: "Target architecture for the docker image"
      cachix_cache_name:
        required: true
        type: string
        description: "Cachix cache name to use"
      build_file:
        required: true
        type: string
        default: "Cargo.toml"
        description: "File to extract version from"
      build_command:
        required: true
        type: string
        # nix run -L .#hopli${build_dev_option}-docker-build-and-upload
        description: "Command to build the docker image"
      build_debug_command:
        required: false
        type: string
        description: "Additional build debug flavor to use"
      docker_image_name:
        required: true
        type: string
        description: "Docker image name"
      docker_gcp_registry:
        required: false
        type: string
        default: "europe-west3-docker.pkg.dev/hoprassociation/docker-images"
        description: "Docker registry to push the image to"
      docker_hub_registry:
        required: false
        type: string
        default: "docker.io/hoprnet"
        description: "Docker registry to push the image to"
      timeout_minutes:
        required: false
        type: number
        default: 60
        description: "Timeout for the job in minutes"
    secrets:
      gcp_service_account:
        required: true
      cachix_auth_token:
        required: true
      docker_hub_username:
        required: false
      docker_hub_token:
        required: false
    outputs:
      docker_version:
        description: "Docker image version built"
        value: ${{ jobs.docker.outputs.docker_version }}
concurrency:
  group: build-docker-${{ inputs.source_branch || github.ref_name }}
  cancel-in-progress: true
jobs:
  docker:
    name: Docker
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: ${{ inputs.timeout_minutes }}
    outputs:
      docker_version: ${{ steps.version.outputs.docker_version }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch }}
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@gcp-v1
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          login_artifact_registry: 'true'
          install_sdk: 'false'
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@ausias/fix-actions
        with:
          cache: ${{ inputs.cachix_cache_name }}
          authToken: "${{ secrets.cachix_auth_token }}"
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@build-version-v1
        with:
          file: "${{ inputs.build_file }}"
          version_type: "${{ inputs.version_type }}"
      - name: Set docker image tag
        id: tag
        shell: bash
        run: |
          if [[ "${{ inputs.architecture }}" == "aarch64-linux" ]]; then
            platform="linux-arm64"
          elif [[ "${{ inputs.architecture }}" == "x86_64-linux" ]]; then
            platform="linux-amd64"
          else
            echo "Unsupported architecture: ${{ inputs.architecture }}"
            exit 1
          fi
          echo "platform=${platform}" | tee -a "${GITHUB_OUTPUT}"
      - name: Build docker image - ${{ steps.version.outputs.docker_version }}-${{ steps.tag.outputs.platform }}
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_version }}-${{ steps.tag.outputs.platform }}
      - name: Build docker image - ${{ steps.version.outputs.docker_version }}-debug-${{ steps.tag.outputs.platform }}
        if: ${{ inputs.build_debug_command != '' }}
        run: ${{ inputs.build_debug_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_version }}-debug-${{ steps.tag.outputs.platform }}
      - name: Build docker image - latest-${{ steps.tag.outputs.platform }}
        if: inputs.version_type == 'pr'
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:latest-${{ steps.tag.outputs.platform }}
      - name: Log in to Docker Hub
        if: inputs.version_type == 'release'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.docker_hub_username }}
          password: ${{ secrets.docker_hub_token }}
      - name: Build docker image - Docker Hub - ${{ steps.version.outputs.docker_version }}-${{ steps.tag.outputs.platform }}
        if: inputs.version_type == 'release'
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_hub_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_version }}-${{ steps.tag.outputs.platform }}
