#################################################################################
# Pipeline to build docker images
#################################################################################
name: Docker Image
env:
  RUST_BACKTRACE: "1"
  CARGO_TERM_COLOR: always
permissions:
  contents: read
on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
        description: "Type of version to build: commit, pr, release, rc"
      architecture:
        required: false
        type: string
        default: "x86_64-linux"
        description: "Target architecture for the docker image"
      cachix_cache_name:
        required: true
        type: string
        description: "Cachix cache name to use"
      build_file:
        required: false
        type: string
        default: "Cargo.toml"
        description: "File to extract version from"
      build_command:
        required: true
        type: string
        description: "Command to build the docker image"
      build_debug_command:
        required: false
        type: string
        description: "Additional build debug flavor to use"
      docker_image_name:
        required: true
        type: string
        description: "Docker image name"
      docker_gcp_registry:
        required: false
        type: string
        default: "europe-west3-docker.pkg.dev/hoprassociation/docker-images"
        description: "Docker registry to push the image to"
      docker_hub_registry:
        required: false
        type: string
        default: "docker.io/hoprnet"
        description: "Docker registry to push the image to"
      timeout_minutes:
        required: false
        type: number
        default: 60
        description: "Timeout for the job in minutes"
      runner:
        required: false
        type: string
        description: "Runner to use for the job"
        default: "self-hosted-hoprnet-bigger"
      deployment_namespace:
        required: false
        type: string
        description: "Kubernetes namespace for the deployment to restart in staging"
      deployment_label_selector:
        required: false
        type: string
        description: "Kubernetes label selector for the deployment to restart in staging"
    secrets:
      gcp_service_account:
        required: true
      cachix_auth_token:
        required: true
      docker_hub_username:
        required: false
      docker_hub_token:
        required: false
    outputs:
      docker_build_version:
        description: "Docker image version built"
        value: ${{ jobs.docker.outputs.docker_build_version }}
      docker_debug_version:
        description: "Docker debug image version built"
        value: ${{ jobs.docker.outputs.docker_debug_version }}
concurrency:
  group: build-docker-${{ github.repository }}-${{ inputs.source_branch }}-${{ inputs.architecture }}
  cancel-in-progress: true
jobs:
  docker:
    name: Build
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout_minutes }}
    outputs:
      docker_build_version: ${{ steps.version.outputs.docker_build_version }}
      docker_debug_version: ${{ steps.version.outputs.docker_debug_version }}
      deploy_staging: ${{ steps.version.outputs.deploy_staging }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch }}
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@set-build-version-v1
        with:
          file: "${{ inputs.build_file }}"
          version_type: "${{ inputs.version_type }}"
          architecture: "${{ inputs.architecture }}"
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@setup-gcp-v1
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          login_artifact_registry: 'true'
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@setup-nix-v1
        with:
          cachix_cache_name: ${{ inputs.cachix_cache_name }}
          cachix_auth_token: "${{ secrets.cachix_auth_token }}"
      - name: Build docker image - ${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_build_version_platform }}
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_build_version_platform }}
          SKOPEO_INSECURE_POLICY: "1"
      - name: Build staging docker image - ${{ inputs.docker_image_name }}:staging
        if: steps.version.outputs.deploy_staging == 'true' && inputs.architecture == 'x86_64-linux'
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:staging
          SKOPEO_INSECURE_POLICY: "1"
      - name: Build debug docker image - ${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_debug_version_platform }}
        if: steps.version.outputs.docker_debug_version_platform != '' && inputs.build_debug_command != ''
        run: ${{ inputs.build_debug_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_debug_version_platform }}
          SKOPEO_INSECURE_POLICY: "1"
      - name: Build latest docker image - ${{ inputs.docker_image_name }}:latest-${{ steps.version.outputs.docker_platform }}
        if: inputs.version_type == 'pr'
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_gcp_registry }}/${{ inputs.docker_image_name }}:latest-${{ steps.version.outputs.docker_platform }}
          SKOPEO_INSECURE_POLICY: "1"
      - name: Identify Docker hub publish condition
        id: docker_hub
        run: |
          if [ "${{ inputs.version_type }}" = "release" ] && [ -n "${{ secrets.docker_hub_username }}" ] && [ -n "${{ secrets.docker_hub_token }}" ]; then
            echo "publish=true" | tee -a "$GITHUB_OUTPUT"
          else
            echo "publish=false" | tee -a "$GITHUB_OUTPUT"
          fi
      - name: Log in to Docker Hub
        if: steps.docker_hub.outputs.publish == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.docker_hub_username }}
          password: ${{ secrets.docker_hub_token }}
      - name: Build docker image - Docker Hub - ${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_build_version_platform }}
        if: steps.docker_hub.outputs.publish == 'true'
        run: ${{ inputs.build_command }}
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ inputs.docker_hub_registry }}/${{ inputs.docker_image_name }}:${{ steps.version.outputs.docker_build_version_platform }}
          SKOPEO_INSECURE_POLICY: "1"
  deploy:
    name: Deploy
    needs: docker
    if: (needs.docker.outputs.deploy_staging == 'true' || vars.DEPLOY_STAGING_MERGED_PR == 'true') && (inputs.deployment_namespace != '' && inputs.deployment_label_selector != '')
    runs-on: self-hosted-hoprnet-small
    steps:
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@setup-gcp-v1
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          install_sdk: 'true'
          login_gke: 'true'
          project: hopr-staging

      - name: Deploy in staging
        run: |
          echo "Starting deployment restart"
          if ! kubectl rollout restart deployments -n ${{ inputs.deployment_namespace }} -l ${{ inputs.deployment_label_selector }}; then
            echo "Failed to restart deployment"
            exit 1
          fi
          if ! kubectl rollout status deployments -n ${{ inputs.deployment_namespace }} -l ${{ inputs.deployment_label_selector }} --timeout=600s; then
            echo "Deployment did not complete within the timeout period"
            exit 1
          fi
          echo "Restart completed successfully"
        timeout-minutes: 15
