#################################################################################
# Pipeline to upload multi-arch docker images
#################################################################################
name: Multi-Arch docker manifest
on:
  workflow_call:
    inputs:
      version_type:
        required: true
        type: string
        description: "Type of version to build: commit, pr, release, rc"
      docker_image_name:
        required: true
        type: string
        description: "Docker image name"
      docker_build_version:
        required: true
        type: string
        description: "Docker image version to use"
      docker_debug_version:
        required: false
        type: string
        description: "Docker debug image version to use"
      docker_gcp_registry:
        required: false
        type: string
        default: "europe-west3-docker.pkg.dev/hoprassociation/docker-images"
        description: "Docker registry to push the image to"
      docker_hub_registry:
        required: false
        type: string
        default: "docker.io/hoprnet"
        description: "Docker registry to push the image to"
    secrets:
      gcp_service_account:
        required: true
      docker_hub_username:
        required: false
      docker_hub_token:
        required: false
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ inputs.docker_image_name }}-${{ inputs.docker_build_version }}
  cancel-in-progress: false
jobs:
  manifest:
    name: Multi-Arch
    runs-on: self-hosted-hoprnet-small
    steps:
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@setup-gcp-v2
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          login_artifact_registry: 'true'
          install_sdk: 'false'
      - name: Create multi-arch docker manifest - ${{ inputs.docker_build_version }}
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@multi-arch-manifest-v1
        with:
          registry: ${{ inputs.docker_gcp_registry }}
          image: ${{ inputs.docker_image_name }}
          version: ${{ inputs.docker_build_version }}
      - name: Create debug multi-arch docker manifest - ${{ inputs.docker_debug_version }}
        if: inputs.docker_debug_version != ''
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@multi-arch-manifest-v1
        with:
          registry: ${{ inputs.docker_gcp_registry }}
          image: ${{ inputs.docker_image_name }}
          version: ${{ inputs.docker_debug_version }}
      - name: Create multi-arch docker manifest - latest
        if: inputs.version_type == 'pr'
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@multi-arch-manifest-v1
        with:
          registry: ${{ inputs.docker_gcp_registry }}
          image: ${{ inputs.docker_image_name }}
          version: latest
      - name: Identify Docker hub publish condition
        id: docker_hub
        run: |
          if [ "${{ inputs.version_type }}" = "release" ] && [ -n "${{ secrets.docker_hub_username }}" ] && [ -n "${{ secrets.docker_hub_token }}" ]; then
            echo "publish=true" | tee -a "$GITHUB_OUTPUT"
          else
            echo "publish=false" | tee -a "$GITHUB_OUTPUT"
          fi
      - name: Log in to Docker Hub
        if: steps.docker_hub.outputs.publish == 'true'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.docker_hub_username }}
          password: ${{ secrets.docker_hub_token }}
      - name: Create multi-arch docker manifest - Docker Hub - ${{ inputs.docker_build_version }}
        if: steps.docker_hub.outputs.publish == 'true'
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@multi-arch-manifest-v1
        with:
          registry: ${{ inputs.docker_hub_registry }}
          image: ${{ inputs.docker_image_name }}
          version: ${{ inputs.docker_build_version }}
