#################################################################################
# Pipeline to build binaries
#################################################################################
name: Build binaries

on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
      architecture:
        required: true
        type: string
      cachix_cache_name:
        required: true
        type: string
        description: "Cachix cache name to use"
      build_file:
        required: false
        type: string
        default: "Cargo.toml"
        description: "File to extract version from"
      build_command:
        required: true
        type: string
        description: "Command to build the binary"
      build_debug_command:
        required: false
        type: string
        description: "Additional build debug flavor to use"
      binary:
        required: true
        type: string
        description: "Binary name to build"
      timeout_minutes:
        required: false
        type: number
        default: 60
        description: "Timeout for the job in minutes"
      runner:
        required: true
        type: string
    secrets:
      gcp_service_account:
        required: true
      cachix_auth_token:
        required: true
      gpg_private_key:
        required: true
concurrency:
  group: ${{ github.repository }}-${{ inputs.source_branch }}-${{ github.workflow }}-${{ inputs.architecture }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout_minutes }}
    outputs:
      publish_artifact: ${{ steps.version.outputs.publish_artifact_registry || steps.version.outputs.publish_github_release }}
      build_version: ${{ steps.version.outputs.build_version }}
  
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch }}
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@setup-nix-v1
        with:
          cachix_cache_name: ${{ inputs.cachix_cache_name }}
          cachix_auth_token: "${{ secrets.cachix_auth_token }}"
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@set-build-version-v1
        with:
          file: "${{ inputs.build_file }}"
          version_type: "${{ inputs.version_type }}"
          architecture: "${{ inputs.architecture }}"
      - name: Build binary ${{ inputs.architecture }}
        run: |
          ${{ inputs.build_command }}
          mkdir -p ./artifacts
          cp ./result/bin/${{ inputs.binary }} ${{ github.workspace }}/artifacts/${{ inputs.binary }}-${{ inputs.architecture }}
        env:
          architecture: ${{ inputs.architecture }}
      - name: Upload binary ${{ inputs.binary }}-${{ inputs.architecture }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.binary }}-${{ inputs.architecture }}
          path: ${{ github.workspace }}/artifacts/${{ inputs.binary }}-${{ inputs.architecture }}

  sign:
    name:  Sign and Publish
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download binary ${{ inputs.binary }}-${{ inputs.architecture }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.binary }}-${{ inputs.architecture }}
          path: ${{ github.workspace }}/artifacts
      - name: Sign binary ${{ inputs.binary }}-${{ inputs.architecture }}
        uses: hoprnet/hopr-workflows/actions/sign-file@sign-file-v1
        with:
          file: ${{ github.workspace }}/artifacts/${{ inputs.binary }}-${{ inputs.architecture }}
          gpg_private_key: ${{ secrets.gpg_private_key }}
      - name: Upload ${{ inputs.binary }}-${{ inputs.architecture }} signed binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.binary }}-${{ inputs.architecture}}.asc
          path: ${{ github.workspace }}/artifacts/${{ inputs.binary }}-${{ inputs.architecture}}.asc
      - name: Upload ${{ inputs.binary }}-${{ inputs.architecture }} sha256 binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.binary }}-${{ inputs.architecture}}.sha256
          path: ${{ github.workspace }}/artifacts/${{ inputs.binary }}-${{ inputs.architecture}}.sha256
      - name: Setup GCP
        if: needs.build.outputs.publish_artifact == 'true'
        uses: hoprnet/hopr-workflows/actions/setup-gcp@setup-gcp-v1
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          install_sdk: "true"

      - name: Publish ${{ inputs.binary }}-${{ inputs.architecture }} into Google Artifact registry
        if: needs.build.outputs.publish_artifact == 'true'
        uses: hoprnet/hopr-workflows/actions/upload-artifact-registry@upload-artifact-registry-v1
        with:
          source: ${{ github.workspace }}/artifacts
          package: ${{ inputs.binary }}
          version: ${{ needs.build.outputs.build_version }}