#################################################################################
# Pipeline to upload multi-arch docker images
#################################################################################
name: Multi-Arch docker image manifest
on:
  workflow_call:
    inputs:
      version_type:
        required: true
        type: string
        description: "Type of version to build: commit, pr, release, rc"
      docker_image_name:
        required: true
        type: string
        description: "Docker image name"
      docker_version:
        required: false
        type: string
        description: "Docker image version to use"
      docker_gcp_registry:
        required: false
        type: string
        default: "europe-west3-docker.pkg.dev/hoprassociation/docker-images"
        description: "Docker registry to push the image to"
      docker_hub_registry:
        required: false
        type: string
        default: "docker.io/hoprnet"
        description: "Docker registry to push the image to"
    secrets:
      gcp_service_account:
        required: true
      docker_hub_username:
        required: false
      docker_hub_token:
        required: false
concurrency:
  group: docker-multi-arch-manifest
  cancel-in-progress: false
jobs:
  docker:
    name: Docker
    runs-on: self-hosted-hoprnet-big
    steps:
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@gcp-v1
        with:
          google_credentials: ${{ secrets.gcp_service_account }}
          login_artifact_registry: 'true'
          install_sdk: 'false'
      - name: Create multi-arch docker manifest - ${{ inputs.docker_version }}
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@ausias/fix-actions
        with:
          registry: ${{ inputs.docker_gcp_registry }}
          image: ${{ inputs.docker_image_name }}
          version: ${{ inputs.docker_version }}
      - name: Create multi-arch docker manifest - latest
        if: inputs.version_type == 'pr'
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@ausias/fix-actions
        with:
          registry: ${{ inputs.docker_gcp_registry }}
          image: ${{ inputs.docker_image_name }}
          version: latest
      - name: Log in to Docker Hub
        if: inputs.version_type == 'release'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.docker_hub_username }}
          password: ${{ secrets.docker_hub_token }}
      - name: Create multi-arch docker manifest - Docker Hub - ${{ inputs.docker_version }}
        if: inputs.version_type == 'release'
        uses: hoprnet/hopr-workflows/actions/multi-arch-manifest@ausias/fix-actions
        with:
          registry: ${{ inputs.docker_hub_registry }}
          image: ${{ inputs.docker_image_name }}
          version: ${{ inputs.docker_version }}
